html,body{
    background-image: url(img/logo/download1.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar {
    display: none;
}
.header1 {
    position: fixed;
    background-image: url(img/logo/download.jpeg);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
    overflow: hidden;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    color: white;
    box-shadow: 0px 10px 10px 0px #191c1b;
}
.logo-container {
    margin-left: 30px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.logo-container .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    margin-right: 20px;
}
.logo-container img {
    width: 45px;
}
.logo-container{
    margin-top: 10px;
    text-align: left;
    color: white;
    font-style: italic;
}
.logo-container span{
    color: red;
}
.navbar {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    padding-left: 40px;
    padding-right: 30px;
    box-shadow: 0px 2px 0px 0px #ffffff;
}
.navbar a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-style: italic;
    transition: color 0.3s;
}
.navbar a:hover {
    color: #ccc;
}
.opening{
    color: white;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    background-image: url(img/logo/bg.jpg);
    background-size: cover;
    box-shadow: 0px 10px 10px 0px #191c1b;
}
.teksopening{
    background: rgba(0, 0, 0, 0.603);
    backdrop-filter: blur(1px);
    border-radius: 10px;
    width: 600px;
    padding-bottom: 20px;
}
.teksopening img{
    width: 25%;
}
.teksopening a{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    border-radius: 5px;
    background-color: red;
    transition: 0.2s;
}
.teksopening a:hover{
    padding-top: 12px;
    padding-bottom: 8px;
    padding-left: 45px;
    padding-right: 45px;
    background-color: rgb(200, 0, 0);
    transition: 0.2s;
}
#isi {
    text-align: center;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
#isi .aboutsebatik{
    margin: 20px;
    color: black;
}
#isi .aboutsebatik p{
    color: white;
    font-size: 17px;
    background: rgba(0, 0, 0, 0.479);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
}
#isi .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}
#isi .gallery .img-box {
    width: 130px;
    height: 600px;
    margin: 5px;
    border-radius: 100px;
    position: relative;
    transition: width 0.5s;
    overflow: hidden;
    box-shadow: 10px 10px 10px 10px #001c18;
}
#isi .gallery .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#isi .gallery .img-box h2 {
    letter-spacing: 0.2rem;
    color: #00917d;
    font-weight: 500;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 100%;
    background-color: rgba(33, 34, 35, 0.954);
    padding: 2% 5%;
    border-radius: 8px 0 0 8px;
    transition: bottom 0.5s, opacity;
}
#isi .gallery .img-box:hover {
    width: 600px;
    border-radius: 40px;
    transition: 0.5s;
}
#isi .gallery .img-box:hover h2 {
    opacity: 1;
    bottom: 10%;
}
.destinasi{
    margin-top: 110px;
    padding-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
    min-height: 60vh;
    height: auto;
}
.destinasi .kontenn{
    box-shadow: 10px 10px 10px 0px #191c1b;
    margin-left: 10px;
    margin-right: 10px;
    background-size: cover;
    margin-bottom: 10px;
    background-size: cover;
    height: 240px;
    width: 480px;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.destinasi .kontenn .card{
    height: 160px;
    color: white;
}
.destinasi .kontenn .more{
    display: flex;
    justify-content: flex-end;
}
.destinasi .kontenn .more a{
    background-color: red;
    box-shadow: 1px 1px 1px 0px #ffffff;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    transition: 0.5s;
}
.destinasi .kontenn .more a:hover{
    background-color: rgb(141, 0, 0);
    transition: 0.5s;
}
.beranda{
    margin-top: 110px;
    text-align: center;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.beranda .deskripsi{
    width: 90%;
    color: white;
    background: rgba(0, 0, 0, 0.600);
    backdrop-filter: blur(10px);
    margin-top: 20px;
    border-radius: 20px;
}
.beranda .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}
.beranda .gallery .img-box {
    width: 130px;
    height: 500px;
    margin: 3px;
    border-radius: 100px;
    position: relative;
    transition: 0.5s;
    overflow: hidden;
    box-shadow: 10px 10px 10px 10px #001c18;
}
.beranda .gallery .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.beranda .gallery .img-box:hover {
    width: 500px;
    border-radius: 20px;
    transition: 0.58s;
}
#footer{
    box-shadow: 0px -10px 10px 0px #191c1b;
    background-image: url(img/logo/download.jpeg);
    text-align: center;
    height: auto;
    list-style: none;
    padding: 1px;
    color: white;
}
#footer p{
    font-size: 15px;
}
#footer ul{
    display: flex;
    margin-left: -40px;
    justify-content: center;
    align-items: center;
    list-style: none;
}
#footer ul a{
    color: white;
    box-shadow: 10px 10px 10px 0px #191c1b;
    background-color: rgba(33, 34, 35, 0.954);
    width: 190px;
    height: 70px;
    overflow: hidden;
    margin: 3px;
    border: 1px solid white;
    border-radius: 15px;
    transition: 0.5s;
    text-decoration: none;
}
#footer ul a:hover{
    transition: 0.5s;
    background-color: #12302c;
}
#footer .icon{
    margin-top: 5px;
    margin-bottom: -25px;
    font-size: 25px;
}
#footer ul a h4{
    color: red;
}
#footer ul a span{
    color: white;
    font-size: 10px;
}
#beranda .titel{
    font-size: 30px;
    color: #fff;
    margin-bottom: 1%;
}

@media screen and (max-width: 1200px){
    .teksopening{
        width: 580px;
    }
    .teksopening img{
        width: 20%;
    }
    .beranda .gallery .img-box {
        width: 100px;
        height: 480px;
    }
    .beranda .gallery .img-box:hover {
        width: 480px;
    }
}

@media screen and (max-width: 1000px){
    .logo-container {
        margin-left: 30px;
        margin-bottom: 10px;
    }
    .logo-container .logo{
        width: 70px;
        height: 70px;
        margin-right: 5px;
    }
    .logo-container img {
        width: 45px;
        margin-left: 10px;
    }
    .logo-container h1{
        font-size: 25px;
    }
    .header1 .navbar {
        gap: 20px;
        padding-left: 40px;
        padding-right: 28px;
    }
    .header1 .navbar a{
        font-size: 18px;
    }
    .teksopening{
        width: 575px;
        padding-bottom: 20px;
    }
    .teksopening h1{
        font-size: 30px;
    }
    .teksopening h2{
        font-size: 22px;
    }
    .teksopening h3{
        font-size: 16px;
    }
    .beranda .gallery .img-box {
        width: 108px;
        height: 435px;
    }
    .beranda .gallery .img-box:hover {
        width: 435px;
    }
    #isi .gallery .img-box {
        width: 145px;
        height: 580px;
        border-radius: 100px;
    }
    #isi .gallery .img-box:hover {
        width: 580px;
        border-radius: 40px;
    }
}


@media screen and (max-width: 900px){
    .logo-container {
        margin-left: 30px;
        margin-bottom: 10px;
    }
    .logo-container .logo{
        width: 69px;
        height: 69px;
        margin-right: 5px;
    }
    .logo-container img {
        width: 44px;
        margin-left: 10px;
    }
    .logo-container h1{
        font-size: 24px;
    }
    .header1 .navbar {
        gap: 19px;
        padding-left: 38px;
        padding-right: 26px;
    }
    .header1 .navbar a{
        font-size: 17px;
    }
    .teksopening{
        width: 550px;
        padding-bottom: 20px;
    }
    .teksopening h1{
        font-size: 28px;
    }
    .teksopening h2{
        font-size: 20px;
    }
    .teksopening h3{
        font-size: 14px;
    }
    .beranda .gallery .img-box {
        width: 96px;
        height: 385px;
    }
    .beranda .gallery .img-box:hover {
        width: 385px;
    }
    #isi .gallery .img-box {
        width: 128px;
        height: 513px;
        border-radius: 100px;
    }
    #isi .gallery .img-box:hover {
        width: 513px;
        border-radius: 40px;
    }
    #footer ul a{
        width: 185px;
        height: 69px;
        margin: 2.5px;
        border-radius: 15px;
    }
    #footer .icon{
        margin-top: 4.5px;
        margin-bottom: -25px;
        font-size: 24px;
    }
    #footer ul a h4{
        font-size: px;
    }
    #footer ul a span{
        font-size: 9.5px;
    }
}

@media screen and (max-width: 800px){
    .logo-container {
        margin-left: 30px;
        margin-bottom: 10px;
    }
    .logo-container .logo{
        width: 68px;
        height: 68px;
        margin-right: 5px;
    }
    .logo-container img {
        width: 43px;
        margin-left: 10px;
    }
    .logo-container h1{
        font-size: 23px;
    }
    .header1 .navbar {
        gap: 18px;
        padding-left: 36px;
        padding-right: 24px;
    }
    .header1 .navbar a{
        font-size: 16px;
    }
    .teksopening{
        width: 500px;
        padding-bottom: 20px;
    }
    .teksopening h1{
        font-size: 26px;
    }
    .teksopening h2{
        font-size: 18px;
    }
    .teksopening h3{
        font-size: 12px;
    }
    .beranda .gallery .img-box {
        width: 83px;
        height: 335px;
    }
    .beranda .gallery .img-box:hover {
        width: 335px;
    }
    #isi .gallery .img-box {
        width: 111px;
        height: 446px;
        border-radius: 100px;
    }
    #isi .gallery .img-box:hover {
        width: 446px;
        border-radius: 40px;
    }
    .beranda .deskripsi{
        width: 92%;
    }
    .beranda .deskripsi h2{
        font-size: 22px;
    }
    .beranda .deskripsi p{
        font-size: 15px;
    }
    #footer ul a{
        width: 165px;
        height: 67px;
        margin: 2.5px;
        border-radius: 15px;
    }
    #footer .icon{
        margin-top: 4.5px;
        margin-bottom: -26px;
        font-size: 23px;
    }
    #footer ul a h4{
        font-size: px;
    }
    #footer ul a span{
        font-size: 9px;
    }
    #footer .copyright p{
        font-size: 16px;
    }
}

@media screen and (max-width: 700px){
    .logo-container {
        margin-left: 30px;
        margin-bottom: 10px;
    }
    .logo-container .logo{
        width: 67px;
        height: 67px;
        margin-right: 5px;
    }
    .logo-container img {
        width: 42px;
        margin-left: 10px;
    }
    .logo-container h1{
        font-size: 22px;
    }
    .header1 .navbar {
        gap: 17px;
        padding-left: 34px;
        padding-right: 22px;
    }
    .header1 .navbar a{
        font-size: 14px;
    }
    .teksopening{
        width: 450px;
        padding-bottom: 20px;
    }
    .teksopening h1{
        font-size: 24px;
    }
    .teksopening h2{
        font-size: 17px;
    }
    .teksopening h3{
        font-size: 11px;
    }
    .beranda .gallery .img-box {
        width: 71px;
        height: 285px;
    }
    .beranda .gallery .img-box:hover {
        width: 285px;
    }
    #isi .gallery .img-box {
        width: 95px;
        height: 380px;
        border-radius: 100px;
    }
    #isi .gallery .img-box:hover {
        width: 380px;
        border-radius: 40px;
    }
    .beranda .deskripsi{
        width: 94%;
    }
    .beranda .deskripsi h2{
        font-size: 20px;
    }
    .beranda .deskripsi p{
        font-size: 14px;
    }
    #footer ul a{
        width: 140px;
        height: 65px;
        margin: 2px;
        border-radius: 14px;
    }
    #footer .icon{
        margin-top: 4.5px;
        margin-bottom: -27px;
        font-size: 22px;
    }
    #footer ul a h4{
        font-size: px;
    }
    #footer ul a span{
        font-size: 8px;
    }
    #footer .copyright p{
        font-size: 15px;
    }
}

@media screen and (max-width: 600px){
    .logo-container {
        margin-left: 27px;
        margin-bottom: 10px;
    }
    .logo-container .logo{
        width: 65px;
        height: 65px;
        margin-right: 5px;
    }
    .logo-container img {
        width: 40px;
        margin-left: 10px;
    }
    .logo-container h1{
        font-size: 20px;
    }
    .header1 .navbar {
        gap: 15px;
        padding-left: 31px;
        padding-right: 19px;
    }
    .header1 .navbar a{
        font-size: 12px;
    }
    .teksopening{
        width: 400px;
        padding-bottom: 20px;
    }
    .teksopening h1{
        font-size: 23px;
    }
    .teksopening h2{
        font-size: 16px;
    }
    .teksopening h3{
        font-size: 10px;
    }
    .beranda .gallery .img-box {
        width: 58px;
        height: 235px;
    }
    .beranda .gallery .img-box:hover {
        width: 235px;
    }
    #isi .gallery .img-box {
        width: 78px;
        height: 313px;
        border-radius: 100px;
    }
    #isi .gallery .img-box:hover {
        width: 313px;
        border-radius: 40px;
    }
    #isi .aboutsebatik p{
        font-size: 16px;
    }
    .destinasi .kontenn{
        height: 240px;
        width: 430px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .destinasi .kontenn .card{
        height: 170px;
    }
    .destinasi .kontenn .more a{
        padding: 9px; 
    }
    .beranda .deskripsi{
        width: 96%;
    }
    .beranda .deskripsi h2{
        font-size: 18px;
    }
    .beranda .deskripsi p{
        font-size: 13px;
    }
    #footer ul a{
        width: 115px;
        height: 60px;
        margin: 1.5px;
        border-radius: 13px;
    }
    #footer .icon{
        margin-top: 4px;
        margin-bottom: -12px;
        font-size: 21px;
    }
    #footer ul a h4{
        font-size: 10px;
    }
    #footer ul a span{
        font-size: 6.5px;
    }
    #footer .copyright p{
        font-size: 14px;
    }
}

@media screen and (max-width: 500px){
    .logo-container {
        margin-left: 20px;
        margin-bottom: 10px;
    }
    .logo-container .logo{
        width: 60px;
        height: 60px;
        margin-right: 5px;
    }
    .logo-container img {
        width: 38px;
        margin-left: 10px;
    }
    .logo-container h1{
        font-size: 16px;
    }
    .header1 .navbar {
        gap: 12px;
        padding-left: 25px;
        padding-right: 15px;
    }
    .header1 .navbar a{
        font-size: 10px;
    }
    .teksopening{
        width: 350px;
        padding-bottom: 20px;
    }
    .teksopening h1{
        font-size: 22px;
    }
    .teksopening h2{
        font-size: 15px;
    }
    .teksopening h3{
        font-size: 10px;
    }
    .beranda .gallery .img-box {
        width: 43px;
        height: 175px;
    }
    .beranda .gallery .img-box:hover {
        width: 175px;
    }
    #isi .gallery .img-box {
        width: 61px;
        height: 246px;
        border-radius: 100px;
    }
    #isi .gallery .img-box:hover {
        width: 246px;
        border-radius: 40px;
    }
    #isi .aboutsebatik p{
        font-size: 15px;
    }
    .destinasi .kontenn{
        height: 200px;
        width: 330px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .destinasi .kontenn .card{
        height: 135px;
    }
    .destinasi .kontenn .card p, .destinasi .kontenn .more a{
        font-size: 13px;
    }
    .destinasi .kontenn .more a{
        padding: 8px;
    }
    .beranda .deskripsi h2{
        font-size: 16px;
    }
    .beranda .deskripsi p{
        font-size: 12px;
    }
    #footer ul a{
        width: 95px;
        height: 50px;
        margin: 1.5px;
        border-radius: 11px;
    }
    #footer .icon{
        margin-top: 3px;
        margin-bottom: -15px;
        font-size: 14px;
    }
    #footer ul a h4{
        font-size: 9px;
    }
    #footer ul a span{
        font-size: 6px;
    }
    #footer .copyright p{
        font-size: 13px;
    }
}

@media screen and (max-width: 400px){
    .logo-container {
        margin-left: 17px;
        margin-bottom: 10px;
    }
    .logo-container .logo{
        width: 57px;
        height: 57px;
        margin-right: 5px;
    }
    .logo-container img {
        width: 37px;
        margin-left: 10px;
    }
    .logo-container h1{
        font-size: 14px;
    }
    .header1 .navbar {
        gap: 10px;
        padding-left: 23px;
        padding-right: 13px;
    }
    .header1 .navbar a{
        font-size: 8px;
    }
    .teksopening{
        width: 325px;
        padding-bottom: 20px;
    }
    .teksopening h1{
        font-size: 21px;
    }
    .teksopening h2{
        font-size: 15px;
    }
    .teksopening h3{
        font-size: 10px;
    }
    .beranda .gallery .img-box {
        width: 43px;
        height: 175px;
    }
    .beranda .gallery .img-box:hover {
        width: 175px;
    }
    #isi .gallery .img-box {
        width: 50px;
        height: 200px;
        border-radius: 100px;
    }
    #isi .gallery .img-box:hover {
        width: 200px;
        border-radius: 40px;
    }
    #isi .aboutsebatik p{
        font-size: 14px;
    }
    .beranda .deskripsi h2{
        font-size: 14px;
    }
    .beranda .deskripsi p{
        font-size: 11px;
    }
    #footer ul a{
        width: 83px;
        height: 45px;
        margin: 0.5px;
        border-radius: 10px;
    }
    #footer .icon{
        margin-top: 2px;
        margin-bottom: -15px;
        font-size: 13px;
    }
    #footer ul a h4{
        font-size: 8px;
    }
    #footer ul a span{
        font-size: 6px;
    }
    #footer .copyright p{
        font-size: 12px;
    }
}